<!DOCTYPE html>
<html lang="pt-br" ng-app="Disc">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disciplinas - IC</title>
    <script src="bower_components/jquery/dist/jquery.min.js" charset="utf-8"></script>
    <script src="bower_components/materialize/dist/js/materialize.min.js" charset="utf-8"></script>
    <script src="bower_components/angular/angular.min.js" charset="utf-8"></script>
    <script src="js/app.js" charset="utf-8"></script>
    <script src="js/js.js" charset="utf-8"></script>
    <link rel="stylesheet" href="bower_components/materialize/dist/css/materialize.min.css" media="screen">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" media="screen">
  </head>

  <body ng-controller="mainCtrl">

    <header>
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper blue-grey darken-2">
            <a href="#!" class="brand-logo center">Sites Disciplinas - IC</a>
          </div>
        </nav>
      </div>
    </header>

    <main>
      <div class="container">
        <div class="row">
          <div class="col s12">
            <ul class="collection" ng-repeat="detail in details | orderBy: 'professor'">
              <li class="collection-item avatar">
                <img src="{{detail.img}}" alt="" class="circle">
                <h3 class="title">{{detail.professor}}</span>
                <h4 class="center grey-text text-darken-4">Disciplinas</h4>
                <ul class="collapsible" data-collapsible="expandable">
                  <li ng-repeat="discipline in detail.disciplines">
                    <div class="collapsible-header"><i class="medium material-icons indigo-text text-accent-2">arrow_drop_down_circle</i>{{discipline.name}}</div>
                    <div class="collapsible-body">
                      <p class="center col s12">
                        {{discipline.course}} - {{discipline.semester}}
                      </p>
                      <h5 class="center">Descrição da disciplina</h5>
                      <p class="textFormat">
                        {{discipline.description}}
                      </p>
                      <p>
                        <a class="waves-effect waves-light btn indigo accent-2" href="{{discipline.link}}" target="_blank"><i class="material-icons right">send</i>Ir para o site</a>
                      </p>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>

    <footer class="page-footer blue-grey">
      <div class="container">
        <div class="row">
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Colaboradores</h5>
            <ul ng-repeat="collaborator in collaborators">
              <li class="white-text"><b>{{collaborator.collaboration}}</b>: {{collaborator.name}}</li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    
  </body>
</html>
